.outline-0 {
  border: 1px solid #000;
}

.outline-1 {
  border: 1px solid #111;
}

.outline-2 {
  border: 1px solid #222;
}

.outline-3 {
  border: 1px solid #333;
}

.outline-4 {
  border: 1px solid #444;
}

.outline-5 {
  border: 1px solid #555;
}

.outline-6 {
  border: 1px solid #666;
}

.outline-7 {
  border: 1px solid #777;
}

.outline-8 {
  border: 1px solid #888;
}

.outline-9 {
  border: 1px solid #999;
}

.outline-a {
  border: 1px solid #aaa;
}

.outline-b {
  border: 1px solid #bbb;
}

.outline-c {
  border: 1px solid #ccc;
}

.outline-d {
  border: 1px solid #ddd;
}

.outline-e {
  border: 1px solid #eee;
}

.outline-f {
  border: 1px solid #fff;
}
