.outline-0 {
  border: 1px solid #000;
}

.outline-3 {
  border: 1px solid #333;
}

.outline-6 {
  border: 1px solid #666;
}

.outline-9 {
  border: 1px solid #999;
}

.outline-a {
  border: 1px solid #aaa;
}

.outline-d {
  border: 1px solid #ddd;
}

.outline-f {
  border: 1px solid #fff;
}
